
//--------------------------------CALENDAR--------------------


.dispbtn{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 1em;
}

#month{
    font-size: 2em;
    margin: 2%;
    width: 28vh;
}

#year{
    font-size: 2em;
    margin: 2%;
    width: 28vh
}

.styleDate {
    font-family: 'Amiko', sans-serif;
    background-color: red;
    border-radius: 10px 10px 10px 10px;
    color: white;
    background: linear-gradient(45deg,$bleu,$vertPastel);
    background: -webkit-linear-gradient(45deg,$bleu,$vertPastel);
    background: -moz-linear-gradient(45deg,$bleu,$vertPastel);
    background: -ms-linear-gradient(45deg,$bleu,$vertPastel);
    background: -o-linear-gradient(45deg,$bleu,$vertPastel);
    box-shadow: 2px 2px 2px $gray;
}

.btnDate {
    background: linear-gradient(45deg,$orange,$jaune);
    background: -webkit-linear-gradient(45deg,$orange,$jaune);
    background: -moz-linear-gradient(45deg,$orange,$jaune);
    background: -ms-linear-gradient(45deg,$orange,$jaune);
    background: -o-linear-gradient(45deg,$orange,$jaune);
}

.day{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // border: 2px solid black;
    font-size: 2em;
    border-radius: 30px 30px 0 0px;
    background: linear-gradient(45deg,$vertPastel,$bleu);
    background: -webkit-linear-gradient(45deg,$vertPastel,$bleu);
    background: -moz-linear-gradient(45deg,$vertPastel,$bleu);
    background: -ms-linear-gradient(45deg,$vertPastel,$bleu);
    background: -o-linear-gradient(45deg,$vertPastel,$bleu);
    color: white;
    font-family: 'Amiko', sans-serif;

}

.calendargrid {
    display:grid;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 5px;
    margin: 0% 5%;
    height: 80%;
}
    .week{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-gap: 5px;
    }
        .cell{
            display:flex;
            justify-content: center;
            align-items: center;
            height:50px;
            background: linear-gradient(45deg,$jaune,$orange);
            background: -webkit-linear-gradient(45deg,$jaune,$orange);
            background: -moz-linear-gradient(45deg,$jaune,$orange);
            background: -ms-linear-gradient(45deg,$jaune,$orange);
            background: -o-linear-gradient(45deg,$jaune,$orange);
            font-size: 2em;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 2px $gray;
        }

// .content {
//     border-right: solid;
// }

.outofmonth{
    color: rgba(126, 115, 115, 0.568);
    text-shadow: none;
}


////////-------------------------------------media-----------------------------

@media (max-width: 767px) {

    .day {
        font-size: 1em;
    }

    .week {
        .cell {
            font-size: 1.5em;
        }
    }

    .day {
        background: none;
        color: black;
    }
}