$rouge : rgb(84, 14, 11);
$vertPastel: rgb(147, 203, 166);


#btncontainer{
    display: flex;
    justify-content: space-between;
}

.dispbtn{
    display: flex;
    height: 4em;
}

#month{
    font-size: 2em;
    margin: 2%;
}

#year{
    font-size: 2em;
    margin: 2%;
}

// .calendargrid {
//     display:grid;
//     grid-template-rows: repeat(12, 1fr 2fr 2fr);
//     grid-gap: 2px;
// }

.week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 2px;
}

.morning {
    border: solid $vertPastel;
    margin-bottom: 2px;
}

.afternoon {
    border: solid $rouge;
    margin-bottom: 2px;
}

.cell{
    border: 2px solid #000000;
    // border-radius: 11px;
    text-align: center;
    border: solid $vertPastel;
    margin-bottom:2px;
    height:4em;
}

.content {
    border-right: solid;
}