$rouge : rgb(84, 14, 11);
$bleu: rgb(27, 153, 150);
$vertPastel: rgb(147, 203, 166);
$orange: rgb(241, 173, 50);
$jaune: rgb(235, 219, 1);


h1 {
    color: $rouge;
}

.colorNav {
    color: $bleu;
}


.colorNav:hover {
    background-color: $vertPastel;
    color: white;
}

.colorSidenav {
    color: $bleu;
}

.ok {
    font-size: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

.logo {
    width: 90px; 
    height: 60px;
    margin-left: 10px;
    margin-top: 2px;
}