
// variables

$rouge : rgb(84, 14, 11);
$bleu: rgb(27, 153, 150);
$vertPastel: rgb(147, 203, 166);
$orange: rgb(241, 173, 50);
$jaune: rgb(235, 219, 1);

$gray: #797979;

// ------------


// import calendar partial

@import 'calendar';

.hrBlue {
    width: 50vw;
    color: $bleu
}


h2 {
    color: $bleu;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

h4 {
    color: $bleu;
}


// fonts
// ------------
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.archivo {
    font-family: 'Archivo Black', sans-serif;
}

.amiko {
    font-family: 'Amiko', sans-serif;
}

.grayLato {
    font-family: 'Lato', sans-serif;
    color: gray;
}


// ------------


// navbar 
// ------------

.navColor {
    color: $bleu;
}

.navTitle {
    margin-left: 10%;
    font-size: 2em;
}

.navHover:hover {
    background-color: white;
}

.navDivider {
    color: $bleu;
    font-size: 25px;
    padding-left: 35px;
    padding-right: 35px;
}
// ------------


// carousel
// ------------
.carou {
    height: 91vh;
}

.slide1 {
    background: url(/img/action-2277292.jpg) no-repeat center;
    background-size: cover;
}

.slide2 {
    background: url(/img/startup-594091.jpg) no-repeat center;
    background-size: cover;
}

.slide3 {
    background: url(/img/rest-700156.jpg) no-repeat center;
    background-size: cover;
}
// ------------


//Newsletter
//-------------
.newsLetter {
    height: 65vh;
    padding-top: 2vh;

}

.newsMargin {
    margin-top: 7vh;
}

//-------------

//banner background and margin
//----------

.blueBack {
    background-color: $bleu;
    margin: 0;
    height: 30vh;
    padding-top: 2vh;
}


.buttonMargin {
    padding-top: -5vh;
}

.logoAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

//--------------



//formules
//----------------

.collapsible {
    all: unset;
}

.card {
    cursor: pointer;
    // appearance: none;
}

.card-title {
    padding-top: 3vh;
}

.collapsible-header {
    all: unset;
    i {
        font-size: 3em;
    }
}

.card-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.tcard {
    font-family: 'Montserrat', sans-serif;
    color: $orange;
    font-weight: bold;
}

.hrOrange {
    color: $orange;
    width: 5vh;
}

.faIconTarif {
    margin-right: 2px;
}

.option1 {
    background-color: $vertPastel;
    color: white;
}

.option2 {
    background-color: $jaune;
    color: white;
}

.option3 {
    background-color: $orange;
    color: white;
}

.option4 {
    background-color: $rouge;
    color: white;
}   

.collapsible-body {
    a{
    background-color: $orange;
    margin-top: 5px;
    height: 100%;
    width:100%;
    }
    a:hover {
        background-color: $jaune;
    }
    hr {
        opacity: 0.3;
    }
}

//-------------------------


//map and contact
.map {
    height: 600px;
    margin: 0;
}

#mapid {
    height: 600px;
    margin-left: -1.5%;
}

.contact {
    background-color: white;
    height: 600px;
}

.titreContact {
    text-align: center;
    color: $bleu;
}

.descContact {
    color: $bleu;
}
//------------------------


// footer ---------------

.foot {
    background-color: $bleu;
    margin: 0;
    height: 12vh;
}

.footDivider {
    color: white;
    font-size: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

.footIconSize {
    font-size: 20px;
}

.footIcon {
    margin-top: 15px;
}

.footHeight {
    margin-top: 10px;
}

.mfArrow {
    margin-top: 5px;
}



// --------------MEDIA------------

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
   
    .parallax-container {
        display: none;
    }

    .button-arrow {
        display: none;
    }

    .modalresa{
        width: 10vw;
        height: 5vh;
    }   

    .blueBack {
        display: flex;
        align-items: center;
    }

    .foot {
        height: auto;
    }

    .footDivider {
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .carou {
        display: none;
    }

    .hideLogo {
        display: none;
    }
}


//---------------------
// Page Resa // calendar
//---------------------


.titlemodal{
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.modalresa{
    width: 30vw;
    height: 25vh;
}

#btnmodal2{
    background: no-repeat url(/img/business-3190209_960_720.jpg);
    background-size: cover;
    background-position: center;
}

#modal2 {
    height:100%;
    width:100%;
}

#btnmodal3{
    background: no-repeat url(/img/objects-731426_960_720.jpg);
    background-size: cover;
    background-position: center;
}

#btnmodal4{
    background: no-repeat url(/img/computer-3368242_960_720.jpg);
    background-size: cover;

}

//--------------------
// Fin Page Resa
//--------------------


//------------------
// Registration
//------------------

.mt{
    margin-top: 7vh;
}

.wrongPwd {
    border: 2px solid red;
}

// -----------------
// Fin registration
//------------------

//-------------------------
// Module Confirmation Resa

#choiceaccount{
    display: flex;
    justify-content: space-between;
}

// Fin
//-------------------------