$rouge : rgb(84, 14, 11);
$bleu: rgb(27, 153, 150);
$vertPastel: rgb(147, 203, 166);
$orange: rgb(241, 173, 50);
$jaune: rgb(235, 219, 1);


h1 {
    color: $rouge;
}

.archivo {
    font-family: 'Archivo Black', sans-serif;
}

.navColor {
    color: $bleu;
}

.navTitle {
    margin-left: 10%;
    font-size: 2em;
}

.navHover:hover {
    background-color: white;
}

.navDivider {
    color: $bleu;
    font-size: 25px;
    padding-left: 35px;
    padding-right: 35px;
}