<form action="#">
        <p>
            <label>
              <input type="checkbox"/>
              <span>Casque audio</span>
            </label>
        </p>
    
        <p>
            <label>
                <input type="checkbox"/>
                <span>Casque audio + micro</span>
            </label>
        </p>
    
        <p>
            <label>
                <input type="checkbox"/>
                <span>Ecran avec cables</span>
            </label>
        </p>
    
        <p>
            <label>
                <input type="checkbox"/>
                <span>Hamac</span>
            </label>
        </p>
</form>
