<nav>
    <div class="nav-wrapper white" style="height: 20vh;">
        <a href="/" class="brand-logo">
            <img src="/img/charte-logotype-MDA.png" class="responsive-img" width="60">
        </a>
        <span class="hide-on-med-and-down navColor navTitle archivo">Saint-GoWorking</span>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons navColor">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <!-- <li>
                <a href="#" class="navColor hoverable navHover archivo">Accueil</a>
            </li> -->
            <li>
                <a href="/resa" class="navColor hoverable navHover monserrat">Réserver</a>
            </li>
            <li>
                <a href="#anchorTarif" class="navColor hoverable navHover monserrat">Tarifs</a>
            </li>
            <li>
                <a href="/#anchorContact" class="navColor hoverable navHover monserrat">Contact</a>
            </li>
            <li>
                <span class="navDivider">|</span>
            </li>
            <li>

                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal5">S'inscrire</a>

                <!-- Modal Structure -->
                <div id="modal5" class="modal">
                    <div class="modal-content">
                        <h4>Inscription</h4>
                        <div class="row">
                                <form class="col s12">
                                  <div class="row">
                                    <div class="input-field col s6">
                                      <input id="first_name" name="nom" type="text" class="validate">
                                      <label for="first_name">Nom</label>
                                    </div>
                                    <div class="input-field col s6">
                                      <input id="last_name" name="prenom" type="text" class="validate">
                                      <label for="last_name">Prénom</label>
                                    </div>
                                  </div>
                        
                                  <div class="row">
                                    <div class="input-field col s12">
                                      <input id="email" name="mail" type="email" class="validate">
                                      <label for="email">E-mail</label>
                                    </div>
                                  </div>
                        
                                  <div class="row">
                                    <div class="input-field col s12">
                                      <input id="password" name="pwd" type="password" class="validate">
                                      <label for="password">Mot de passe</label>
                                    </div>
                                  </div>
                        
                                  <div class="row">
                                    <div class="input-field col s12">
                                      <input id="password" name="confpwd" type="password" class="validate">
                                      <label for="password">Confirmation de mot de passe</label>
                                    </div>
                                  </div>
                        
                                  <div class="row">
                                    <div class="input-field col s12">
                                      <label>
                                        <input type="checkbox" class="filled-in"/>
                                        <span>J'ai lu et j'accepte les <a href="#" class="teal-text">CGU</a> </span>
                                      </label>
                                    </div>
                                  </div>
                        
                                </form>
                        
                                <div class="row center">
                                    <button class="btn waves-effect waves-light mt" type="submit" name="action">Je m'inscris
                                      <i class="material-icons right">how_to_reg</i>
                                    </button>
                                </div>
                        
                                <div class="row right">
                                  <a href="#connection" class="teal-text">J'ai déjà un compte</a>
                                </div>
                        
                        
                              </div>
                    </div>
                </div>

            </li>
            <li>
                <a href="#" class="waves-effect waves-light btn">Se connecter</a>
            </li>
        </ul>
    </div>


    <ul class="sidenav archivo" id="mobile-demo">
        <!-- <li>
            <a href="#">Accueil</a>
        </li> -->
        <li>
            <a href="/resa">Réserver</a>
        </li>
        <li>
            <a href="#resa">Tarifs</a>
        </li>
        <li>
            <a href="#anchorContact">Contact</a>
        </li>
        <div class="divider"></div>
        <li>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">S'inscrire</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Inscription</h4>
                    <div class="row">
                            <form class="col s12">
                              <div class="row">
                                <div class="input-field col s6">
                                  <input id="first_name" type="text" class="validate">
                                  <label for="first_name">Nom</label>
                                </div>
                                <div class="input-field col s6">
                                  <input id="last_name" type="text" class="validate">
                                  <label for="last_name">Prénom</label>
                                </div>
                              </div>
                    
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="email" type="email" class="validate">
                                  <label for="email">E-mail</label>
                                </div>
                              </div>
                    
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" class="validate">
                                  <label for="password">Mot de passe</label>
                                </div>
                              </div>
                    
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="password" type="password" class="validate">
                                  <label for="password">Confirmation de mot de passe</label>
                                </div>
                              </div>
                    
                              <div class="row">
                                <div class="input-field col s12">
                                  <label>
                                    <input type="checkbox" class="filled-in"/>
                                    <span>J'ai lu et j'accepte les <a href="#" class="teal-text">CGU</a> </span>
                                  </label>
                                </div>
                              </div>
                    
                            </form>
                    
                            <div class="row center">
                                <button class="btn waves-effect waves-light mt" type="submit" name="action">Je m'inscris
                                  <i class="material-icons right">how_to_reg</i>
                                </button>
                            </div>
                    
                            <div class="row right">
                              <a href="#connection" class="teal-text">J'ai déjà un compte</a>
                            </div>
                    
                    
                          </div>
                </div>
            </div>

        </li>
        <li>
            <a href="#" class="waves-effect waves-light btn">Se connecter</a>
        </li>
    </ul>
</nav>