<nav>
    <div class="nav-wrapper white">
        <a href="#!" class="brand-logo">
            <img src="img/charte-logotype-MDA.png" class="logo" alt="logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons colorSidenav">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#" class="colorNav hoverable">Accueil</a>
            </li>
            <li>
                <a href="#" class="colorNav hoverable ">Réserver</a>
            </li>
            <li>
                <a href="#" class="colorNav hoverable">Tarifs</a>
            </li>
            <li>
                <a href="#" class="colorNav hoverable">Contact</a>
            </li>
            <li>
                <span class="colorSidenav ok">|</span>
            </li>
            <li>
                <a href="#" class="colorNav hoverable">S'inscrire</a>
            </li>
            <li>
                <a href="#" class="colorNav hoverable">Se connecter</a>
            </li>
        </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="#">Accueil</a>
        </li>
        <li>
            <a href="#">Réserver</a>
        </li>
        <li>
            <a href="#">Tarifs</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <div class="divider"></div>
        <li>
            <a href="#">S'inscrire</a>
        </li>
        <li>
            <a href="#">Se connecter</a>
        </li>
    </ul>
</nav>