<nav>
    <div id="anchorNav" class="nav-wrapper white">
        <a href="/" class="brand-logo">
            <img src="/img/charte-logotype-MDA.png" class="responsive-img" width="60">
        </a>
        <span class="hide-on-med-and-down navColor navTitle archivo">Saint-GoWorking</span>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons blueColor">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <!-- <li>
                <a href="#" class="navColor hoverable navHover archivo">Accueil</a>
            </li> -->
            <li>
                <a href="/#anchorResa" class="blueColor hoverable navHover monserrat">Réserver</a>
            </li>
            <li>
                <a href="/#anchorTarif" class="blueColor hoverable navHover monserrat">Tarifs</a>
            </li>
            <li>
                <a href="/#anchorContact" class="blueColor hoverable navHover monserrat">Contact</a>
            </li>
            <li>
                <span class="navDivider">|</span>
            </li>
            <li>

                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal5">S'inscrire</a>

                <!-- Modal Structure -->
                <div id="modal5" class="modal modalSize">
                    <div class="modal-content">
                        <h4 class="center">Inscription</h4>
                        <%- include ../partials/registration.ejs %>
                    </div>
                </div>

            </li>
            <li>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal_log_in">Se connecter</a>
                <div id="modal_log_in" class="modal modalSize">
                    <div class="modal-content">
                        <h4 class="center">Connectez-vous</h4>
                        <%- include ../partials/log_in.ejs %>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <ul class="sidenav archivo" id="mobile-demo">
        <!-- <li>
            <a href="#">Accueil</a>
        </li> -->
        <li>
            <a href="/#anchorResa">Réserver</a>
        </li>
        <li>
            <a href="/#anchorTarif">Tarifs</a>
        </li>
        <li>
            <a href="/#anchorContact">Contact</a>
        </li>
        <div class="divider"></div>
        <li>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal6">S'inscrire</a>

            <!-- Modal Structure -->
            <div id="modal6" class="modal modalSize">
                <div class="modal-content">
                    <h4 class="center">Inscription</h4>
                    <%- include ../partials/registration.ejs %>
                </div>
            </div>

        </li>
        <li>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal_log_in1">Se connecter</a>
            <div id="modal_log_in1" class="modal">
                <div class="modal-content modalSize">
                    <h4 class="center">Connectez-vous</h4>
                    <%- include ../partials/log_in.ejs %>
                </div>
            </div>
        </li>
    </ul>
</nav>