<nav>
    <div class="nav-wrapper white" style="height: 20vh;">
        <a href="#!" class="brand-logo">
            <img src="/img/charte-logotype-MDA.png" class="responsive-img" width="60">
        </a>
        <span class="hide-on-med-and-down navColor navTitle archivo">Saint-GoWorking</span>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons navColor">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <!-- <li>
                <a href="#" class="navColor hoverable navHover archivo">Accueil</a>
            </li> -->
            <li>
                <a href="#anchorResa" class="navColor hoverable navHover archivo">Réserver</a>
            </li>
            <li>
                <a href="#anchorTarif" class="navColor hoverable navHover archivo">Tarifs</a>
            </li>
            <li>
                <a href="#anchorContact" class="navColor hoverable navHover archivo">Contact</a>
            </li>
            <li>
                <span class="navDivider">|</span>
            </li>
            <li>
                <a href="#" class="waves-effect waves-light btn">S'inscrire</a>
            </li>
            <li>
                <a href="#" class="waves-effect waves-light btn">Se connecter</a>
            </li>
        </ul>
    </div>


    <ul class="sidenav archivo" id="mobile-demo">
        <!-- <li>
            <a href="#">Accueil</a>
        </li> -->
        <li>
            <a href="#">Réserver</a>
        </li>
        <li>
            <a href="#">Tarifs</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
        <div class="divider"></div>
        <li>
            <a href="#" class="waves-effect waves-light btn">S'inscrire</a>
        </li>
        <li>
            <a href="#" class="waves-effect waves-light btn">Se connecter</a>
        </li>
    </ul>
</nav>