<div class="row">
  <form class="col s12" action="/registration" method="POST">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" name="nom" type="text" class="validate" required>
        <label for="first_name">Nom</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" name="prenom" type="text" class="validate" required>
        <label for="last_name">Prénom</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" name="mailRegister" type="email" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
        <label for="email">E-mail</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="pwd" type="password" class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
        <label for="password">Mot de passe</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="confpassword" name="confpwd" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" class="validate" required>
        <label for="password">Confirmation de mot de passe</label>
        <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label>
          <input type="checkbox" class="filled-in" required>
          <span>J'ai lu et j'accepte les
            <a href="#" class="teal-text">CGU</a>
          </span>
        </label>
      </div>
    </div>
    <div class="row center">
      <button class="btn waves-effect waves-light mt" type="submit" name="action">Je m'inscris
        <i class="material-icons right">how_to_reg</i>
      </button>
    </div>
  </form>

  <div class="row right">
    <a href="#connection" class="teal-text">J'ai déjà un compte</a>
  </div>

</div>