<form action="#">
    <p>
        <label>
            <input type="checkbox" class="filled-in"/>
            <span>Place A</span>
        </label>
    </p>

    <p>
        <label>
            <input type="checkbox" class="filled-in"/>
            <span>Place B</span>
        </label>
    </p>

    <p>
        <label>
            <input type="checkbox" class="filled-in"/>
            <span>Place C</span>
        </label>
    </p>

    <p>
        <label>
            <input type="checkbox" class="filled-in"/>
            <span>Place D</span>
        </label>
    </p>

    <p>
        <label>
            <input type="checkbox" class="filled-in"/>
            <span>Bureau</span>
        </label>
    </p>
</form>