<%- include partials/header.ejs %>
    <%- include partials/navbar.ejs %>


<div class="row userBoard">
    <div class="col s12 m4 l4 avatar center">
        <div class="avatarPhoto">
            <i class="fas fa-user"></i>
        </div>
        <div class="center">
        <a class="waves-effect waves-light btn" href="#modal6">Modifier Profil</a>
        </div>
    </div>
    <div class="col s12 m8 l8">
        <div class="infoProfil">
            <div>
                <p>Nom : <span>JoJo</span></p>
                
            </div>
            <div>
                <p>Prénom : <span>JoJo</span></p>
            </div>
            <div>
                <p>Numéro de téléphone : <span>0606060606</span></p>
            </div>
            <div>
                <p>Adresse mail : <span>jojo@gmail.com</span></p>
            </div>
            <br>
            <div>
                <p>Profil métier (mini bio) : </p>
            </div>
            <div>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt officiis placeat maxime nemo officia sint praesentium ullam tenetur veniam molestias laboriosam itaque explicabo vitae, qui consequatur earum sunt voluptatibus? Quisquam.</span>
            </div>
            <br>
            <div class="dateInscris">
                <p>Inscris depuis le :
                    <span>21/07/2018</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>









<%- include partials/footer.ejs %>