<%- include partials/header.ejs %>
    <%- include partials/navbar.ejs %>

<div class=" carou carousel carousel-slider" style="height: 580px;">
    <div class="carousel-fixed-item center">
        <a href="#ancre" class="btn waves-effect white-text waves-light">En Savoir Plus</a>
    </div>
    <div class="carousel-item slide1 white-text" href="#one!">
    </div>
    <div class="carousel-item slide2 white-text" href="#two!">
    </div>
    <div class="carousel-item slide3 white-text" href="#three!">
    </div>
</div>


<div class="container" id="ancre" style="height: 400px;">
    <div class="row">
        <div class="col s12">
            <h1>DESCRIPTION</h1>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus voluptatum, tempora, molestiae atque placeat
                dolor repudiandae, libero perspiciatis voluptatibus aperiam labore ipsam in ratione dolore esse sapiente
                harum recusandae deleniti!</span>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="/img/coworking.jpg">
    </div>
</div>

<div class="container" style="height: 400px;">
    <div class="row">
        <div class="col s12">
            <h1>INFO TARIFS</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eveniet, voluptatum expedita iste mollitia ipsum
                suscipit tempore consequatur perferendis atque quos omnis ex esse? Cum voluptatum placeat explicabo dignissimos
                eveniet?</span>
        </div>
    </div>
</div>



<%- include partials/footer.ejs %>