<%- include partials/header.ejs %>
    <%- include partials/navbar.ejs %>

<div class=" carou carousel carousel-slider" style="height: 580px;">
    <div class="carousel-fixed-item center">
        <a href="#ancre" class="btn waves-effect white-text waves-light">En Savoir Plus</a>
    </div>
    <div class="carousel-item slide1 white-text" href="#one!">
    </div>
    <div class="carousel-item slide2 white-text" href="#two!">
    </div>
    <div class="carousel-item slide3 white-text" href="#three!">
    </div>
</div>


<div class="container" id="ancre" style="height: 400px;">
    <div class="row">
        <div class="col s12">
            <h1>DESCRIPTION</h1>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus voluptatum, tempora, molestiae atque placeat
                dolor repudiandae, libero perspiciatis voluptatibus aperiam labore ipsam in ratione dolore esse sapiente
                harum recusandae deleniti!</span>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="/img/coworking.jpg"/>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m5 l3">
            <div class="card hoverable">
                <div class="card-panel option1">
                    <i class="card-fav fas fa-user"></i>
                    <span class="card-title">Passage occasionnel</span>
                </div>
                <div class="card-content">
                    <p>A partir de </p>
                    <span> 3€ </span>
                </div>
                <div class="card-action">
                    <a href="#"><strong>Détails et Réservation</strong> </a>
                </div>
            </div>
        </div>
        <div class="col s12 m5 l3">
            <div class="card hoverable">
                <div class="card-panel option2">
                    <i class="card-fav fas fa-user-plus"></i>
                    <span class="card-title">Formule n°1</span>
                </div>
                <div class="card-content">
                    <p>A partir de </p>
                    <span> 5€/mois </span>
                </div>
                <div class="card-action">
                    <a href="#"><strong>Détails et Réservation</strong></a>
                </div>
            </div>    
        </div>
        <div class="col s12 m5 l3">
            <div class="card hoverable">
                <div class="card-panel option3">
                    <i class="card-fav fab fa-angellist"></i>
                    <span class="card-title">Formule n°2</span>
                </div>
                <div class="card-content">
                    <p>A partir de </p>
                    <span>10€/mois </span>
                </div>
                <div class="card-action">
                    <a href="#"><strong>Détails et Réservation</strong> </a>
                </div>
            </div>    
        </div>
        <div class="col s12 m5 l3">
            <div class="card hoverable">
                <div class="card-panel option4">
                    <i class="card-fav fas fa-cubes"></i>
                    <span class="card-title">Formule n°3</span>
                </div>
                <div class="card-content">
                    <p>A partir de</p>
                    <span>15€/mois</span>
                </div>
                <div class="card-action">
                    <a href="#"><strong>Détails et Réservation</strong> </a>
                </div>
            </div>    
        </div>
        <!-- <div class="col l3 s12">
            <h3>Formule 1</h3>
            <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eveniet, voluptatum expedita iste mollitia ipsum suscipit tempore consequatur perferendis atque quos omnis ex esse? Cum voluptatum placeat explicabo dignissimos eveniet?</p>
        </div>
        <div class="col l3 s12">
            <h3>Formule 2</h3>
            <p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eveniet, voluptatum expedita iste mollitia ipsum suscipit tempore consequatur perferendis atque quos omnis ex esse? Cum voluptatum placeat explicabo dignissimos eveniet?</p>
        </div>
        <div class="col l3 s12">
            <h3>Formule 3</h3>
            <p class="flow-text"    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eveniet, voluptatum expedita iste mollitia ipsum suscipit tempore consequatur perferendis atque quos omnis ex esse? Cum voluptatum placeat explicabo dignissimos eveniet?</p>
        </div> -->
    </div>
</div>

<%- include partials/footer.ejs %>